# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.spec.bak
venv/
.venv/
env/

# PyInstaller
*.manifest
*.spec.bak

# App data
~/.dictly/

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/
*.swp
